<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dt="http://www.einverne.com/schema/dateformat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.einverne.com/schema/dateformat http://www.einverne.com/schema/dateformat.xsd">

  <dt:dateformat id="dateformat" pattern="yyyy-MM-dd HH:mm" />
</beans>